<div x-show="modalOpen" x-transition
  class="fixed top-0 left-0 flex h-full min-h-screen w-full items-center justify-center bg-black/90 px-4 py-5 z-999999">
  <div @click.outside="modalOpen = false"
    class="w-full max-w-142.5 rounded-lg bg-white dark:bg-boxdark py-12 px-8 text-center md:py-15 md:px-17.5">
    <h3 class="text-black dark:text-white pb-2 text-xl font-bold sm:text-2xl">
      Your Message Sent Successfully
    </h3>
    <span class="bg-primary mx-auto mb-6 inline-block h-1 w-22.5 rounded"></span>
    <p class="mb-10">
      Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text ever
      since
    </p>
    <div class="-mx-3 flex flex-wrap gap-y-4">
      <div class="w-full 2xsm:w-1/2 px-3">
        <button @click="modalOpen = false"
          class="text-black dark:text-white block w-full rounded border border-stroke dark:border-strokedark bg-gray dark:bg-meta-4 p-3 text-center font-medium transition hover:border-meta-1 dark:hover:border-meta-1 hover:bg-meta-1 dark:hover:bg-meta-1 hover:text-white">
          Cancel
        </button>
      </div>
      <div class="w-full 2xsm:w-1/2 px-3">
        <button
          class="bg-primary border-primary block w-full rounded border p-3 text-center font-medium text-white transition hover:bg-opacity-90">
          View Details
        </button>
      </div>
    </div>
  </div>
</div>