<div x-show="modalOpen" x-transition
  class="fixed top-0 left-0 flex h-full min-h-screen w-full items-center justify-center bg-black/90 px-4 py-5 z-999999">
  <div @click.outside="modalOpen = false"
    class="w-full max-w-142.5 rounded-lg bg-white dark:bg-boxdark py-12 px-8 text-center md:py-15 md:px-17.5">
    <span class="mx-auto inline-block">
      <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect opacity="0.1" width="60" height="60" rx="30" fill="#DC2626" />
        <path
          d="M30 27.2498V29.9998V27.2498ZM30 35.4999H30.0134H30ZM20.6914 41H39.3086C41.3778 41 42.6704 38.7078 41.6358 36.8749L32.3272 20.3747C31.2926 18.5418 28.7074 18.5418 27.6728 20.3747L18.3642 36.8749C17.3296 38.7078 18.6222 41 20.6914 41Z"
          stroke="#DC2626" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </span>
    <h3 class="text-black dark:text-white pb-2 text-xl font-bold sm:text-2xl mt-5.5">
      Deactivate Your Account
    </h3>
    <p class="mb-10">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum been.
    </p>
    <div class="-mx-3 flex flex-wrap gap-y-4">
      <div class="w-full 2xsm:w-1/2 px-3">
        <button @click="modalOpen = false"
          class="text-black dark:text-white block w-full rounded border border-stroke dark:border-strokedark bg-gray dark:bg-meta-4 p-3 text-center font-medium transition hover:border-meta-1 dark:hover:border-meta-1 hover:bg-meta-1 dark:hover:bg-meta-1 hover:text-white">
          Cancel
        </button>
      </div>
      <div class="w-full 2xsm:w-1/2 px-3">
        <button
          class="bg-meta-1 border-meta-1 block w-full rounded border p-3 text-center font-medium text-white transition hover:bg-opacity-90">
          Deactivate
        </button>
      </div>
    </div>
  </div>
</div>