<div x-show="popupOpen" x-transition
  class="fixed top-0 left-0 z-99999 overflow-y-scroll h-screen w-full flex justify-center bg-black/80 py-5 px-4">
  <div @click.outside="popupOpen = false"
    class="relative m-auto max-w-180 w-full shadow-default rounded-sm border border-stroke dark:border-strokedark bg-gray dark:bg-meta-4 p-4 sm:p-8 xl:p-10">
    <button @click="popupOpen = false" class="absolute right-1 sm:right-5 top-1 sm:top-5">
      <svg class="fill-current" width="20" height="20" viewBox="0 0 20 20" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M11.8913 9.99599L19.5043 2.38635C20.032 1.85888 20.032 1.02306 19.5043 0.495589C18.9768 -0.0317329 18.141 -0.0317329 17.6135 0.495589L10.0001 8.10559L2.38673 0.495589C1.85917 -0.0317329 1.02343 -0.0317329 0.495873 0.495589C-0.0318274 1.02306 -0.0318274 1.85888 0.495873 2.38635L8.10887 9.99599L0.495873 17.6056C-0.0318274 18.1331 -0.0318274 18.9689 0.495873 19.4964C0.717307 19.7177 1.05898 19.9001 1.4413 19.9001C1.75372 19.9001 2.13282 19.7971 2.40606 19.4771L10.0001 11.8864L17.6135 19.4964C17.8349 19.7177 18.1766 19.9001 18.5589 19.9001C18.8724 19.9001 19.2531 19.7964 19.5265 19.4737C20.0319 18.9452 20.0245 18.1256 19.5043 17.6056L11.8913 9.99599Z"
          fill="" />
      </svg>
    </button>

    <form action="#">
      <div class="mb-5">
        <label for="taskTitle" class="block font-medium text-black dark:text-white mb-2.5">Task title</label>
        <input type="text" name="taskTitle" id="taskTitle" placeholder="Enter task title"
          class="w-full rounded-sm border border-stroke dark:border-strokedark bg-white dark:bg-boxdark focus:border-primary dark:focus:border-primary focus-visible:outline-none py-3 px-4.5">
      </div>

      <div class="mb-5">
        <label for="taskDescription" class="block font-medium text-black dark:text-white mb-2.5">Task
          description</label>
        <textarea name="taskDescription" id="taskDescription" cols="30" rows="7" placeholder="Enter task description"
          class="w-full rounded-sm border border-stroke dark:border-strokedark bg-white dark:bg-boxdark focus:border-primary dark:focus:border-primary focus-visible:outline-none py-3 px-4.5"></textarea>
      </div>

      <div class="mb-5">
        <label for="taskList" class="block font-medium text-black dark:text-white mb-2.5">Task list</label>
        <div class="flex flex-col gap-3.5">
          <div class="flex items-center gap-2.5">
            <input type="text" name="taskList" id="taskList" placeholder="Enter list text"
              class="w-full rounded-sm border border-stroke dark:border-strokedark bg-white dark:bg-boxdark focus:border-primary dark:focus:border-primary focus-visible:outline-none py-3 px-4.5">

            <button
              class="flex items-center justify-center w-12.5 h-12.5 rounded-sm border border-stroke dark:border-strokedark bg-white dark:bg-boxdark hover:text-primary p-4">
              <svg class="fill-current" width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_75_12779)">
                  <path
                    d="M18.75 9.3125H10.7187V1.25C10.7187 0.875 10.4062 0.53125 10 0.53125C9.625 0.53125 9.28125 0.84375 9.28125 1.25V9.3125H1.25C0.875 9.3125 0.53125 9.625 0.53125 10.0312C0.53125 10.4062 0.84375 10.75 1.25 10.75H9.3125V18.75C9.3125 19.125 9.625 19.4687 10.0312 19.4687C10.4062 19.4687 10.75 19.1562 10.75 18.75V10.7187H18.75C19.125 10.7187 19.4687 10.4062 19.4687 10C19.4687 9.625 19.125 9.3125 18.75 9.3125Z"
                    fill="" />
                </g>
                <defs>
                  <clipPath id="clip0_75_12779">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>
          <div class="flex items-center gap-2.5">
            <input type="text" name="taskList" id="taskList" placeholder="Enter list text"
              class="w-full rounded-sm border border-stroke dark:border-strokedark bg-white dark:bg-boxdark focus:border-primary dark:focus:border-primary focus-visible:outline-none py-3 px-4.5">

            <button
              class="flex items-center justify-center w-12.5 h-12.5 rounded-sm border border-stroke dark:border-strokedark bg-white dark:bg-boxdark hover:text-primary p-4">
              <svg class="fill-current" width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.4375 10.7187H1.5625C1.1875 10.7187 0.84375 10.4062 0.84375 10C0.84375 9.625 1.15625 9.28125 1.5625 9.28125H18.4375C18.8125 9.28125 19.1562 9.59375 19.1562 10C19.1562 10.375 18.8125 10.7187 18.4375 10.7187Z"
                  fill="" />
              </svg>
            </button>
            <button
              class="flex items-center justify-center w-12.5 h-12.5 rounded-sm border border-stroke dark:border-strokedark bg-white dark:bg-boxdark hover:text-primary p-4">
              <svg class="fill-current" width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_75_12779)">
                  <path
                    d="M18.75 9.3125H10.7187V1.25C10.7187 0.875 10.4062 0.53125 10 0.53125C9.625 0.53125 9.28125 0.84375 9.28125 1.25V9.3125H1.25C0.875 9.3125 0.53125 9.625 0.53125 10.0312C0.53125 10.4062 0.84375 10.75 1.25 10.75H9.3125V18.75C9.3125 19.125 9.625 19.4687 10.0312 19.4687C10.4062 19.4687 10.75 19.1562 10.75 18.75V10.7187H18.75C19.125 10.7187 19.4687 10.4062 19.4687 10C19.4687 9.625 19.125 9.3125 18.75 9.3125Z"
                    fill="" />
                </g>
                <defs>
                  <clipPath id="clip0_75_12779">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>
          <div class="flex items-center gap-2.5">
            <input type="text" name="taskList" id="taskList" placeholder="Enter list text"
              class="w-full rounded-sm border border-stroke dark:border-strokedark bg-white dark:bg-boxdark focus:border-primary dark:focus:border-primary focus-visible:outline-none py-3 px-4.5">

            <button
              class="flex items-center justify-center w-12.5 h-12.5 rounded-sm border border-stroke dark:border-strokedark bg-white dark:bg-boxdark hover:text-primary p-4">
              <svg class="fill-current" width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.4375 10.7187H1.5625C1.1875 10.7187 0.84375 10.4062 0.84375 10C0.84375 9.625 1.15625 9.28125 1.5625 9.28125H18.4375C18.8125 9.28125 19.1562 9.59375 19.1562 10C19.1562 10.375 18.8125 10.7187 18.4375 10.7187Z"
                  fill="" />
              </svg>
            </button>
            <button
              class="flex items-center justify-center w-12.5 h-12.5 rounded-sm border border-stroke dark:border-strokedark bg-white dark:bg-boxdark hover:text-primary p-4">
              <svg class="fill-current" width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_75_12779)">
                  <path
                    d="M18.75 9.3125H10.7187V1.25C10.7187 0.875 10.4062 0.53125 10 0.53125C9.625 0.53125 9.28125 0.84375 9.28125 1.25V9.3125H1.25C0.875 9.3125 0.53125 9.625 0.53125 10.0312C0.53125 10.4062 0.84375 10.75 1.25 10.75H9.3125V18.75C9.3125 19.125 9.625 19.4687 10.0312 19.4687C10.4062 19.4687 10.75 19.1562 10.75 18.75V10.7187H18.75C19.125 10.7187 19.4687 10.4062 19.4687 10C19.4687 9.625 19.125 9.3125 18.75 9.3125Z"
                    fill="" />
                </g>
                <defs>
                  <clipPath id="clip0_75_12779">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="mb-5">
        <label for="taskImg" class="block font-medium text-black dark:text-white mb-2.5">Add image</label>
        <div x-data="{ files: null }">
          <div id="FileUpload"
            class="block w-full py-4 sm:py-14 px-4 relative bg-white dark:bg-boxdark appearance-none border border-dashed border-stroke dark:border-strokedark rounded-sm">
            <input type="file" accept="image/*"
              class="absolute inset-0 z-50 m-0 p-0 w-full h-full outline-none opacity-0"
              x-on:change="files = $event.target.files;" x-on:dragover="$el.classList.add('active')"
              x-on:dragleave="$el.classList.remove('active')" x-on:drop="$el.classList.remove('active')">
            <div class="flex flex-col space-y-3 items-center justify-center">
              <span
                class="flex items-center justify-center w-11.5 h-11.5 rounded-full border border-stroke dark:border-strokedark bg-primary/5">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_75_12841)">
                    <path
                      d="M2.5 15.8333H17.5V17.5H2.5V15.8333ZM10.8333 4.85663V14.1666H9.16667V4.85663L4.1075 9.91663L2.92917 8.73829L10 1.66663L17.0708 8.73746L15.8925 9.91579L10.8333 4.85829V4.85663Z"
                      fill="#3C50E0" />
                  </g>
                  <defs>
                    <clipPath id="clip0_75_12841">
                      <rect width="20" height="20" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </span>
              <p class="text-xs"><span class="text-primary">Click to upload</span> or drag and drop</p>
            </div>
          </div>

          <template x-if="files !== null">
            <div class="border border-stroke dark:border-strokedark bg-white dark:bg-boxdark py-3 px-4 mt-4.5">
              <div class="flex justify-between items-center">
                <template x-for="(_,index) in Array.from({ length: files.length })">
                  <span x-text="files[index].name">Uploading</span>
                </template>

                <button @click="files = null">
                  <svg class="fill-current" width="10" height="10" viewBox="0 0 10 10" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M0.279337 0.279338C0.651787 -0.0931121 1.25565 -0.0931121 1.6281 0.279338L9.72066 8.3719C10.0931 8.74435 10.0931 9.34821 9.72066 9.72066C9.34821 10.0931 8.74435 10.0931 8.3719 9.72066L0.279337 1.6281C-0.0931125 1.25565 -0.0931125 0.651788 0.279337 0.279338Z"
                      fill="" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M0.279337 9.72066C-0.0931125 9.34821 -0.0931125 8.74435 0.279337 8.3719L8.3719 0.279338C8.74435 -0.0931127 9.34821 -0.0931123 9.72066 0.279338C10.0931 0.651787 10.0931 1.25565 9.72066 1.6281L1.6281 9.72066C1.25565 10.0931 0.651787 10.0931 0.279337 9.72066Z"
                      fill="" />
                  </svg>
                </button>
              </div>
            </div>
          </template>
        </div>
      </div>
      <button
        class="w-full flex items-center justify-center gap-2 rounded font-medium text-white bg-primary py-2.5 px-4.5">
        <svg class="fill-current" width="20" height="20" viewBox="0 0 20 20" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_60_9740)">
            <path
              d="M18.75 9.3125H10.7187V1.25C10.7187 0.875 10.4062 0.53125 10 0.53125C9.625 0.53125 9.28125 0.84375 9.28125 1.25V9.3125H1.25C0.875 9.3125 0.53125 9.625 0.53125 10.0312C0.53125 10.4062 0.84375 10.75 1.25 10.75H9.3125V18.75C9.3125 19.125 9.625 19.4687 10.0312 19.4687C10.4062 19.4687 10.75 19.1562 10.75 18.75V10.7187H18.75C19.125 10.7187 19.4687 10.4062 19.4687 10C19.4687 9.625 19.125 9.3125 18.75 9.3125Z"
              fill="" />
          </g>
          <defs>
            <clipPath id="clip0_60_9740">
              <rect width="20" height="20" fill="white" />
            </clipPath>
          </defs>
        </svg>
        Add task
      </button>
    </form>
  </div>
</div>