<div class="flex flex-col items-center justify-center -space-x-5 sm:flex-row">
  <div class="relative h-14 w-full max-w-14 rounded-full">
    <img
      src="./images/user/user-01.jpg"
      alt="user"
      class="overflow-hidden rounded-full ring-2 ring-white!"
    />
  </div>

  <div class="relative h-14 w-full max-w-14 rounded-full">
    <img
      src="./images/user/user-01.jpg"
      alt="user"
      class="overflow-hidden rounded-full ring-2 ring-white!"
    />
  </div>

  <div class="relative h-14 w-full max-w-14 rounded-full">
    <img
      src="./images/user/user-01.jpg"
      alt="user"
      class="overflow-hidden rounded-full ring-2 ring-white!"
    />
  </div>

  <div class="relative h-14 w-full max-w-14 rounded-full">
    <img
      src="./images/user/user-01.jpg"
      alt="user"
      class="overflow-hidden rounded-full ring-2 ring-white!"
    />
  </div>

  <div class="relative h-14 w-full max-w-14 rounded-full">
    <img
      src="./images/user/user-01.jpg"
      alt="user"
      class="overflow-hidden rounded-full ring-2 ring-white!"
    />
  </div>

  <div class="relative h-14 w-full max-w-14 rounded-full">
    <img
      src="./images/user/user-01.jpg"
      alt="user"
      class="overflow-hidden rounded-full ring-2 ring-white!"
    />
  </div>
</div>
